<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Quản Lý</title>
    </head>
    <body>
        <a href="./nguoidung">danh sach nguoi dung</a><br />
        <a href="./login">Login</a><br />
        <a href="./logout">Logout</a>
    </body>
</html>
