<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Nguoi dung - Them</title>
    </head>
    <body>
        <form action="" method="post" enctype="application/x-www-form-urlencoded">
            <input type="text" name="txtHoten" placeholder="Ho ten" /><br />
            <input type="text" name="txtEmail" placeholder="Email" /><br />
            <input type="submit" value="Them" />
        </form>
    </body>
</html>
