<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Nguoi dung - Sua</title>
    </head>
    <body>
        <form action="../../nguoidung/sua" method="post" enctype="application/x-www-form-urlencoded">
            <input type="hidden" name="txtId" value="<%= nd.id %>" />
            <input type="text" name="txtHoten" placeholder="Ho ten" value="<%= nd.hoten %>" /><br />
            <input type="text" name="txtEmail" placeholder="Email" value="<%= nd.email %>" /><br />
            <input type="submit" value="Sua" />
        </form>
    </body>
</html>
