<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Nguoi Dung - List</title>
    </head>
    <body>
        <table width="500" border="1">
            <tr>
                <td>ID</td>
                <td>Ho Ten</td>
                <td>Email</td>
                <td colspan="2"><a href="../nguoidung/them">Them</a></td>
            </tr>

            <% danhsach.rows.forEach(nd => { %>
            <tr>
                <td><%= nd.id %></td>
                <td><%= nd.hoten %></td>
                <td><%= nd.email %></td>
                <td><a href="../nguoidung/sua/<%= nd.id %>">Sua</a></td>
                <td><a onclick="return confirm('ban co muon xoa!')" href="../nguoidung/xoa/<%= nd.id %>">Xoa</a></td>
            </tr>
            <% }); %>
        </table>
    </body>
</html>
